body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #93E9BE;
    padding: 10px;
}

.logo img {
    width: 100px; /* Adjust the size as needed */
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.nav-menu a:hover {
    background-color: #ddd;
    color:93E9BE;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color:93E9BE;
    }
    .nav-menu.show {
        display: flex;
    }
}
