.ad-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.ad-box h2 {
    margin-bottom: 20px;
}

.ad-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Adjust as needed */
    overflow: hidden;
}

.ad-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

